<nav>
<app-header></app-header>
</nav>

<div class='container'>

<h1> Tranfer Details</h1>
<br>
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <mat-tab label="Bank Details">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">A/C No. :  {{ data != undefined ? data.account_number : '' }} </li>
      <li class="list-group-item">Name : {{data != undefined ? winner : ''}} </li>
      <li class="list-group-item">Branch Address : {{data != undefined  ? data.branch_address : ''}} </li>
      <li class="list-group-item">IFSC : {{data != undefined ? data.ifsc : ''}} </li>
    </ul>
  </mat-tab>
  <mat-tab label="GPay" *ngIf="data.gpay_qr_code">
  <div class="text-center">
    <img src="https://thrivefund.herokuapp.com{{data != undefined ? data.gpay_qr_code : ''}}" class="rounded" alt="Gpay_QR_Code">
  </div>
  <br>
  <p> <b>Note: </b> Take Screenshot of the UPI scan code and scan using images in the respective app.</p>

</mat-tab>
  <mat-tab label="PayTm" *ngIf="data.paytm_qr_code">
  <div class="text-center">
    <img src="https://thrivefund.herokuapp.com{{ data != undefined  ? data.paytm_qr_code : ''}}" class="rounded" alt="paytm_qr_code">
  </div>
  <br>
  <p> <b>Note: </b> Take Screenshot of the UPI scan code and scan using images in the respective app.</p>

   </mat-tab>
  <mat-tab label="PhonePe" *ngIf="data.phonepe_qr_code">
  <div class="text-center">
    <img src="https://thrivefund.herokuapp.com{{data != undefined  ? data.phonepe_qr_code : ''}}" class="rounded" alt="phonepe_qr_code">
  </div>
  <br>
  <p> <b>Note: </b> Take Screenshot of the UPI scan code and scan using images in the respective app.</p>

 </mat-tab>
</mat-tab-group>
</div>
