<nav>
<app-header></app-header>
</nav>

<!-- <div class='container shrink'> -->
<!-- <h1> Login to Thrive!</h1> -->
<!-- <form class="example-form" #loginFrom="ngForm" novalidate (ngSubmit)="onSubmit()" #heroForm="ngForm">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Ex. Pizza"  type ="email" name ="email" id="email" #email="ngModel" [(ngModel)] = "loginModel.email" required>
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="email.invalid && email.touched">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Ex. Pizza"  #password="ngModel" type ="password" name = "password" required id="password" [(ngModel)] = "loginModel.password">
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="password.invalid && password.touched">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
<button mat-raised-button color="primary" [disabled]="!loginFrom.form.valid" >Login</button>
</form>

<br>
<p routerLink = '/signup' class="signup">New here? </p>
</div> -->

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://therosca.herokuapp.com/static/assets/draw2.png" class="img-fluid" alt="Login Image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form class="example-form" #loginFrom="ngForm" novalidate (ngSubmit)="onSubmit()" #heroForm="ngForm" >
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Sign in</p>
          </div>

          <div class="divider d-flex align-items-center my-6">
            <p class="text-center fw-bold mx-3 mb-0"></p>
          </div>

          <!-- Email input -->
          <!-- <div class="form-outline mb-4">
            <input type="email" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter a valid email address" />
            <label class="form-label" for="form3Example3">Email address</label>
          </div> -->

          <!-- Password input -->
          <!-- <div class="form-outline mb-3">
            <input type="password" id="form3Example4" class="form-control form-control-lg"
              placeholder="Enter password" />
            <label class="form-label" for="form3Example4">Password</label>
          </div> -->

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Ex. Pizza"  type ="email" name ="email" id="email" #email="ngModel" [(ngModel)] = "loginModel.email" required>
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="email.invalid && email.touched">
              Username is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Ex. Pizza"  #password="ngModel" type ="password" name = "password" required id="password" [(ngModel)] = "loginModel.password">
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="password.invalid && password.touched">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <div class="d-flex justify-content-between align-items-center">
            <div class="form-check mb-0">
              <!-- <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label> -->
            </div>
            <a href="https://therosca.herokuapp.com/password_reset/" target="_blank"  class="text-body">Forgot password?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" [disabled]="!loginFrom.form.valid" >Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a routerLink = '/signup'
                class="link-danger">Register</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
