<nav>
<app-header></app-header>
</nav>

<!-- <section class='w-80'> -->
<!-- <h1 class='text-center'> Sign up</h1> -->
<!-- {% comment %}
<form class="row g-3" (ngSubmit) = "onSignUp()" #signUpForm="ngForm">
 <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Username<small>(used for login)</small></label>
    <input type="text" class="form-control" [class.is-invalid] = "userName.invalid && userName.touched" id="userName" name="userName" #userName="ngModel" [(ngModel)] = "signUp.userName" required>
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">First Name</label>
    <input type="text" class="form-control" id="firstName" name="firstName" #firstName="ngModel" [(ngModel)] = "signUp.firstName" required>
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="lastName" name="lastName" #lastName="ngModel" [(ngModel)] = "signUp.lastName" required>
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)] = "signUp.email" required>
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Mobile</label>
    <input type="number" class="form-control" id="mobile" name="mobile" #mobile="ngModel" [(ngModel)] = "signUp.mobile" required>
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Address Line 1</label>
    <input type="text" class="form-control" id="addressLine1" name="addressLine1" #addressLine1="ngModel" [(ngModel)] = "signUp.addressLine1" required>
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Address Line 2</label>
    <input type="text" class="form-control" id="addressLine2" name="addressLine2" #addressLine2="ngModel" [(ngModel)] = "signUp.addressLine2" required>
  </div>
   <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" #password="ngModel" [(ngModel)] = "signUp.password" required>
  </div>

   <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)] = "signUp.confirmPassword" required>
  </div>

  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="true" name="agreetnc" id="agreetnc" #agreetnc="ngModel" [(ngModel)] = "signUp.agreetnc"required >
  <label class="form-check-label" for="agreetnc">
    Agree with <a routerLink='/tnc'> Terms & Conditions</a>
  </label>
</div>

  <div class="col-12">
    <button type="submit" [class.disabled]="!signUpForm.form.valid" id="signUpForm" class="btn btn-warning">Sign up</button>
  </div>
</form> {% endcomment %} -->
<!-- </section> -->

<section style="background-color: #eee; padding-top:50px; padding-bottom:50px;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <!-- <form class="mx-1 mx-md-4">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example1c" class="form-control" />
                      <label class="form-label" for="form3Example1c">Your Name</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example3c" class="form-control" />
                      <label class="form-label" for="form3Example3c">Your Email</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4c" class="form-control" />
                      <label class="form-label" for="form3Example4c">Password</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4cd" class="form-control" />
                      <label class="form-label" for="form3Example4cd">Repeat your password</label>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input
                      class="form-check-input me-2"
                      type="checkbox"
                      value=""
                      id="form2Example3c"
                    />
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="button" class="btn btn-primary btn-lg">Register</button>
                  </div>

                </form> -->


<form class="mx-1 mx-md-4" (ngSubmit) = "onSignUp()" #signUpForm="ngForm">
  <div class="col-md-12">
     <label for="inputEmail4" class="form-label">Username<small>(used for login)</small></label>
     <input type="text" class="form-control" [class.is-invalid] = "userName.invalid && userName.touched" id="userName" name="userName" #userName="ngModel" [(ngModel)] = "signUp.userName" required>
   </div>
   <div class="col-md-12">
     <label for="inputEmail4" class="form-label">First Name</label>
     <input type="text" class="form-control" id="firstName" name="firstName" #firstName="ngModel" [(ngModel)] = "signUp.firstName" required>
   </div>
   <div class="col-md-12">
     <label for="inputPassword4" class="form-label">Last Name</label>
     <input type="text" class="form-control" id="lastName" name="lastName" #lastName="ngModel" [(ngModel)] = "signUp.lastName" required>
   </div>
   <div class="col-md-12">
     <label for="inputEmail4" class="form-label">Email</label>
     <input type="email" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)] = "signUp.email" required>
   </div>
   <div class="col-md-12">
     <label for="inputPassword4" class="form-label">Mobile</label>
     <input type="number" class="form-control" id="mobile" name="mobile" #mobile="ngModel" [(ngModel)] = "signUp.mobile" required>
   </div>
   <div class="col-12">
     <label for="inputAddress" class="form-label">Address Line 1</label>
     <input type="text" class="form-control" id="addressLine1" name="addressLine1" #addressLine1="ngModel" [(ngModel)] = "signUp.addressLine1" required>
   </div>
   <div class="col-12">
     <label for="inputAddress2" class="form-label">Address Line 2</label>
     <input type="text" class="form-control" id="addressLine2" name="addressLine2" #addressLine2="ngModel" [(ngModel)] = "signUp.addressLine2" required>
   </div>
    <div class="col-md-12">
     <label for="inputPassword4" class="form-label">Password</label>
     <input type="password" class="form-control" id="password" name="password" #password="ngModel" [(ngModel)] = "signUp.password" required>
   </div>

    <div class="col-md-12">
     <label for="inputPassword4" class="form-label">Confirm Password</label>
     <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)] = "signUp.confirmPassword" required>
   </div>

   <div class="form-check">
   <input class="form-check-input" type="checkbox" value="true" name="agreetnc" id="agreetnc" #agreetnc="ngModel" [(ngModel)] = "signUp.agreetnc"required >
   <label class="form-check-label" for="agreetnc">
     Agree with <a routerLink='/tnc'> Terms & Conditions</a>
   </label>
 </div>

   <div class="col-12">
     <button type="submit" [class.disabled]="!signUpForm.form.valid" id="signUpForm" class="btn btn-warning">Sign up</button>
   </div>
 </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://therosca.herokuapp.com/static/assets/draw1.png" class="img-fluid" alt="Sign-up image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
