<nav>
<app-header></app-header>
</nav>

<section class='w-80'>
<h1 class='text-center'>Terms & Conditions</h1>

<div class="content_bar">
    <p>
        <br>
        The visitors are cautioned to read all the terms and conditions under which they
                can access the site for membership and the services offered by the site. Only visitors
                agreeing for these terms may access the site for membership or for availing any
                of the free or paid services offered by the site and/or its partners/ affiliates/
                advertisers/ franchisees/ agents/ agencies etc. <strong> IF THE VISITOR DOES NOT AGREE TO
                ANY OF THESE TERMS, HE/SHE IS ADVISED NOT TO FURTHER ACCESS THE SITE OR REGISTER
                FOR MEMBERSHIP.</strong>
    </p>
    <p>
    </p>
    <p>
        <br>
        This is a legal agreement ("Agreement") between the visitor/member and
                ROSCA, the owner and operator
                of the site therosca.in, such other web sites that may be periodically linked
                either to these web addresses or to the home page of ROSCA, herein after referred
                jointly and severally as the site.
    </p>
    <p>
    </p>
    <p>
    </p>
    <br>
    ROSCA is a 'no-commission' group saving platform which allows user to create it's own group with friends/family.
    Minimum subscription amount per user per month is Rs.100 and maximum Rs.1lakh.
    <strong> ROSCA DOESN'T TAKE ANY RESPONSIBILITY OF LOSS OF MONEY/FRAUD/SUBSCRIBER NOT PAYING THE SUBSCRIPTION AMOUNT </strong> since it doesn't
    intervene in the group creation process and the group members are responsible for any loss of any kind.
    <p>
        <br>
        1. Access to the site cannot be had unless and until these terms and conditions
                are read and consented to.
    </p>
    <p>
    </p>
    <p>
        <br>
        2. Use and access: This site is primarily intended to provide information about
                the company, the Chit Fund operations, the schemes, the guidelines to the prospective
                customers and online information to the extent possible, to the existing customers.
                The services offered by the site and/or its partners/ affiliates/ advertisers/ franchisees/
                agents/ agencies etc. may be accessed and/or used generally by any intending party,
                irrespective of region and location of the visitor or customer and the branch offering
                or providing services, subject to the terms and conditions of this agreement.
    </p>
    <p>
    </p>
    <p>
        <br>
        3. The members are required to be Citizens of India, competent under Indian laws
                to contract and avail services offered by the site. The visitors/ users/ members
                must submit and subject themselves to the laws of India and to the jurisdiction
                of law courts which exercise territorial jurisdiction over the place where the branch
                office offering or providing the services is located, for resolution of any dispute
                arising out of any eventuality related and/or attributable to the information posted
                in the site or sites linked to this site.
    </p>
    <p>
    </p>
    <p>
        <br>
        4. Membership: The membership to the site is for the sole, exclusive, personal use
                of the subscribers/members of chits of ROSCA. The member cannot
                authorize others to use his/her membership, and the member cannot assign or otherwise
                transfer the membership account to any other person or entity. The individuals seeking
                membership may at the discretion of ROSCA be asked to furnish proof of their identity,
                chit reference, age, residence, nationality, income, security, solvency and such
                other information before granting access to the site or membership.
    </p>
    <p>
    </p>
    <p>
        <br>
        5. CANCELLATION OF MEMBERSHIP: ROSCA reserves unfettered right to cancel any membership
                of the site at any stage, without assigning any reason whatsoever, without prejudice
                to his legal rights as a chit subscriber/member. The member who thus forfeits the
                membership to the site shall not have any claim whatsoever against ROSCA in respect
                of services provided on the site.
    </p>
    <p>
    </p>
    <p>
        <br>
        6. Ownership: This site is owned and operated by ROSCA. The Company hereby reserves the right to change or discontinue any
                service, chit, information, scheme, feature, offer, design, layout, content, platform,
                and equipment, systems, and programmer, software needed for the access or use of
                the free site including members area.
    </p>
    <p>
    </p>
    <p>
        <br>
        7. DUTIES AND LIABILITIES OF VISITORS AND MEMBERS: The members shall furnish truthful,
                authentic, relevant, valid, current, fair information. The members / visitors shall
                not re-transmit or otherwise disseminate the information on the site to any third
                parties, even if such third parties are subscribers or intending subscribers of
                ROSCA. The information on the site shall not be used for canvassing the chits. The
                members shall provide proof as may be required by ROSCA to substantiate the information
                furnished. ROSCA shall not be responsible or liable for any inaccurate, false, excessive,
                outdated, irrelevant, information displayed or posted on the site at the instance
                of a member.
    </p>
    <p>
    </p>
    <p>
        <br>
        8. ERRORS AND DISCREPANCIES: While ROSCA takes every care and caution to maintain
                the site free of errors and discrepancies, it is possible for some mistakes to creep
                into the site by inadvertence, oversight, human error, innocence and honest belief
                in the information in good faith. ROSCA is not liable in respect of innocent dissemination
                of such information and the liability of ROSCA is limited to removal of such errors
                and discrepancies from the site. Members and visitors may bring any such discrepancies
                to the notice of ROSCA with reasonable proof for necessary action.
    </p>
    <p>
    </p>
    <p>
        <br>
        9. All the information relating to the chit group is provisional and subject to
                confirmation with the Manager of the concerned branch.
    </p>
    <p>
    </p>
    <p>
        <br>
        10. The visitors or members should not send abusive, threatening, coercive, harassing,
                indecent, obscene mails to the other members or the staff of ROSCA,
                in respect of the information posted on the site.
    </p>
    <p>
    </p>
    <p>
        <br>
        11. Intellectual property rights: The intellectual property rights like Trademarks,
                copyright in artistic works, photographs, creative, graphics, layout, design, text,
                video, audio etc shall exclusively vest in ROSCA. Any violation of such Copyright
                of ROSCA by copying, publishing, distributing, modifying, transferring, altering,
                imposing, defacing shall be punishable under the Copyright laws.
    </p>
    <p>
    </p>
    <p>
        <br>
        12. Copying, storage, transmission, circulation of any information including photographs,
                chit information, schemes, addresses, etc displayed on the site, is strictly prohibited.
    </p>
    <p>
        <br>
        13. The members/visitors shall be solely responsible and liable for all the consequences
                arising out of any infringement of copyrights, proprietary rights including but
                not limited to damages, attorney fees and expenses.
    </p>
    <p>
    </p>
    <p>
        <br>
        14. The membership/access to the site is available subject to the condition that
                the site is accessed/used at the sole risk of the member/visitor. ROSCA cannot and
                does not guarantee about the availability of connection to the site, the services,
                and facilities nor does it assure any accuracy, quality, quantity, genuineness and
                promptness of any of the services offered on the site.
    </p>
    <p>
    </p>
    <p>
        <br>
        15. While every Endeavour is made to make the site free of any bugs, errors, viruses,
                failures, delay in transmission etc. ROSCA does not guarantee that the site or any
                of the services offered would be free of bugs, errors, viruses, failures and ROSCA
                does not accept any responsibility or liability for any such bugs, errors, viruses,
                failures delay in transmission etc in the site.
    </p>
    <p>
    </p>
    <p>
        <br>
        16. ROSCA reserves the right to make such additions, alterations, modifications, insertions,
                improvements, decorations for the betterment and quality enhancement of the material
                displayed on the site. The members shall also agree for such modifications to the
                material for compatibility with the technological advancement and shall, without
                demur, agree for any changes that may be required to be made at the discretion of
                ROSCA and also provide such information or material that may be required for updating
                or upgrading the site in view of any technological advancement.
    </p>
    <p>
    </p>
    <p>
        <br>
        17. ROSCA does not give any warranty whatsoever either express or implied, for any
                advertisement material displayed on the site as to the quality, quantity, utility,
                originality, genuineness, legality, punctuality of any goods or services offered
                by ROSCA or its agents, business affiliates, associates, agencies, franchisees etc.
                ROSCA also does not give any warranty whatsoever either expresses or implied, of any
                disruption, interruption, breakdown of the site or services offered by ROSCA or its
                agents, business affiliates, associates, agencies, franchisees etc.
    </p>
    <p>
    </p>
    <p>
        <br>
        18. ROSCA is not liable for any damages to any members or visitors or user or third
                parties for any injury or damage or hardship that they might have been sustained
                by them on account of any error, failure, discrepancy, defect, shortfall, misdescription;
                any bugs, errors, viruses, failures delay in transmission etc in the site; any excessive,
                exaggerated, inaccurate, erroneous material on the site. The members/visitors/users
                of the site specifically agree to this and discharge ROSCA from any liability whatsoever
                for the said acts.
    </p>
    <p>
    </p>
    <p>
        <br>
        19. None of the staff or directors or officers or employees or agents of ROSCA shall
                be liable for any of the claims, losses, damages, costs, expenses that any one may
                have sustained in any manner whatsoever or likely to sustain in any manner whatsoever
                by the use and access of the site.
    </p>
    <p>
    </p>
    <p>
        <br>
        20. All articles, stories, information, news, views, incidents, occurrences etc
                and any information relating to special services that may be posted or displayed
                on the site are purely that of the respective authors. Members/ visitors/users are
                requested to crosscheck the information from sources that are most reliable and
                trusted in their personal opinion. ROSCA shall not be liable for any action, damages,
                indemnity, cost, expenses that the members/visitors/ users may have sustained or
                incurred from the use of such information.
    </p>
    <p>
    </p>
    <p>
        <br>
        21. SECRECY: The members are required to maintain secrecy of the information passed
                on to them by ROSCA in good faith. They are also required to
                maintain strict secrecy of passwords, Chit reference numbers etc that may be allotted
                to the members on an exclusive basis. ROSCA shall not be responsible
                for any misuse of the passwords, chit reference numbers of the members due to dissemination
                of such information even if it is accidental or innocent.
    </p>
    <p>
        <br>
    </p>
  </div>
</section>
